<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<h1>Hello, Rails!</h1>
<p>
  <strong>User:</strong>
  <%= current_user.try(:email) %>
</p>
 
<%= link_to 'Articles', controller: 'articles'  %>
<%= link_to 'Groups',user_groups_path(current_user) %>



<%= link_to "Friends", friendship_path(current_user.try(:id)) %>
<%= link_to "Orders", orders_path %>