<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Status</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.restaurant %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Manage', order_order_users_path(order.id) %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <% if order.status != "finished" %>
           <td><%= link_to 'Finish',finish_order_path(order.id), data: { confirm: 'Are you sure you want to terminate order?' } %></td>
           <%  end %>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Orders You are part of it </h1>

<table>
  <thead>
    <tr>
    <th>Order Owner</th>
      <th>Restaurant</th>
      <th>Order Status</th>
      <th>Status</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @involvedOrders.each do |order| %>
      <tr>
      <td><%= order.order.user.email %></td>
        <td><%= order.order.restaurant %></td>
        <td><%= order.order.status %></td>
        <td><%= order.status %></td>
        <% if order.status != "joined" %>
        <td><%= link_to 'Join',join_order_path(current_user.try(:id),order.order.id) %></td>
        <%  end %>
        <% if order.status == "joined" %>
        <td><%= link_to 'Order details',new_order_order_user_order_detail_path(order.order.id,order.id) %></td>
        <%  end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
<%= link_to 'Back', root_path %>
