<h1> Friends </h1>
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.email %></strong>
      <%= link_to "Add", order_order_users_path(params[:order_id],:user_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<h1> Groups </h1>

<table>
  <tr>
    <th> Name </th>

    <th colspan="2">Actions</th>
  </tr>
 
  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name%>
      <td><%= link_to "Add Group", add_group_path(params[:order_id],:group_id => group) %></td>
    </tr>
  <% end %>
</table>



<%= link_to 'Cancel', order_order_users_path %>
